/* src/App.css */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding: 100px;
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 50px;
  transition: transform 0.2s, z-index 0.2s;
  display: flex;
  flex-direction: column; /* Set to column to arrange image and content */
  background-color: white;
  position: relative;
  z-index: 1;
}

.card.selected {
  transform: scale(1.1);
  z-index: 2;
}

.card-image {
  width: 100%; /* Take full width */
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 1000px;
}

.card-content {
  flex: 1; /* Expand to take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size:500%;
}

.card-content h2 {
  margin: 0;
}

.card-content p {
  margin: 10px 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 50%;
  height: 75%;
  font-size: 300%;
  /* max-width: 50%; */
}

.modal img {
  width: 100%;
  height: 75%;
}

.modal h2 {
  margin-top: 0;
}

/* Add or modify styles for buttons */
.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 50px; /* Adjust the font size as needed */
}

/* You can adjust the font size for the modal content as well */
.modal-content {
  font-size: 18px; /* Adjust the font size for modal content */
}
/* Add a blur effect on card hover */
.card:hover .card-image img {
  filter: blur(5px); /* Adjust the blur intensity as needed */
}

/* Show "Learn More" text on card hover */
.card:hover::after {
  content: "Learn More"; /* Text to display */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 65px;
}

/* Hide the "Learn More" text by default */
.card::after {
  content: ""; /* Empty content */
  opacity: 0; /* Start with no opacity */
  visibility: hidden; /* Hide it initially */
  transition: opacity 0.2s, visibility 0.2s;
}

.card:hover::after {
  opacity: 1; /* Display it on hover */
  visibility: visible; /* Make it visible on hover */
}



